absl-py==0.11.0
astunparse==1.6.3
beautifulsoup4==4.6.0
boto3==1.16.55
botocore==1.19.55
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==4.4.2
filelock==3.0.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.34.1
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
install==1.3.4
jmespath==0.10.0
joblib==1.0.0
JPype1==1.2.1
Keras-Preprocessing==1.1.2
konlpy==0.5.2
kss==2.2.0.2
lxml==4.6.2
Markdown==3.3.3
networkx==2.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.8
pandas==1.2.0
pickle5==0.0.11
protobuf==3.14.0
py-hanspell==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.3.4
sacremoses==0.0.43
scikit-learn==0.24.0
scipy==1.4.1
sentencepiece==0.1.95
sklearn==0.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.9.4
torch==1.7.1
torchvision==0.8.2
tqdm==4.56.0
transformers==4.1.1
tweepy==3.10.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
